@import './layouts/header';
@import './components/dialog';

:root {
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-horizontal-gap: 3px;
  --swiper-pagination-bullet-inactive-opacity: 0.15;
  --swiper-preloader-color: #4d5deb;
}

body {
  overflow-x: hidden;
}
body:has(dialog[open]) {
  overflow: hidden;
  touch-action: none;
}
.black-btn {
  @apply flex flex-row items-center justify-center text-white bg-t1 font-bold rounded-md hover:bg-t2;
}

.border-btn {
  @apply flex flex-row items-center justify-center border border-t5 font-bold rounded-md hover:border-primary hover:text-primary;
}
