dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}
.dialog {
  @apply fixed p-0 block w-[900px] h-[90%] left-1/2 -translate-x-1/2 z-modal rounded
   transition-all opacity-0 invisible open:visible open:opacity-100 overscroll-contain
   backdrop:transition-all backdrop:bg-backdrop backdrop:backdrop-blur-sm backdrop:overscroll-contain;
  @screen md {
    @apply w-screen h-screen transform-none left-0 top-0 m-0;
    --tw-translate-x: 0;
    border-radius: 0;
  }
  @screen sm {
    @apply w-screen h-screen transform-none left-0 top-0 m-0;
    --tw-translate-x: 0;
    border-radius: 0;
  }
  overflow-x: auto;

  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }
}
.item-type + .item-type {
  &:before {
    content: '/';
    display: inline;
  }
}

.maintain {
  &:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin: 0 4px;
    vertical-align: middle;
  }
}

.divider {
  @apply w-full h-px bg-default-border my-6;
}

.swiper-container {
  touch-action: pan-y;
}

.por-swiper {
  width: 100%;
  height: 100%;
  @screen md {
    height: auto;
  }
  @screen sm {
    height: auto;
  }
}
.swiper-slide {
  height: 400px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  pointer-events: auto;
  @screen md {
    height: auto !important;
  }
  @screen sm {
    height: auto !important;
  }

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: static !important;
  padding-top: 6px;
}

.swiper-pagination-bullet-active {
  background: #81838d !important;
}

.swiper-button-disabled {
  display: none !important;
}
